.scroll {
    background-color: white;
     overflow-x: hidden;
     overflow-y: auto;
     text-align: center;
     padding: 20px;
   }

   .footer {
    margin-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }